* {
     margin:0;
     padding:0;
}
html{
	font-family: Arial, tahoma, Verdana, Helvetica, sans-serif;
	font-size:13px;
	color:#000; 
	background-color:#b1b2b2;
}

textarea,
input {
	font-family: Arial, tahoma, Verdana, Helvetica, sans-serif;
}

button:hover {
	cursor:pointer;
}

.center { text-align:center; }

/******** Header **********/

header {
	position:relative;
	width: 980px;
	margin: 30px auto 0 auto;
	padding: 10px;
	border: 1px solid #DADADA;
	border-radius: 10px;
	background-color:#fff;
}

header #logo {
	width:100px;
}

header h1 {
	display: inline-block;
	vertical-align: top;
	line-height: 100px;
	margin-left: 20px;
	font-size: 30px;
}

header a#deconnexion {
	position: absolute;
	top: 10px;
	right: 10px;
	text-decoration: none;
	background-color: #930;
	color: #fff;
	padding: 0 10px;
	line-height: 30px;
	border: 1px solid #DADADA;
	border-radius: 5px;
}

header button#changer-mdp {
	position: absolute;
	top: 80px;
	right: 10px;
	text-decoration: none;
	background-color: #8b8c8b;
	color: #fff;
	padding: 0 10px;
	line-height: 30px;
	border: 1px solid #DADADA;
	border-radius: 5px;
}

/******** Menu **********/

ul#menu {
	width:1000px;
	margin:30px auto 0 auto;
	list-style: none;
}

ul#menu li {
	display:inline-block;
}

ul#menu li a{
	display: block;
	position:relative;
	top:1px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	margin-right: 10px;
	padding: 0 10px;
	border: 1px solid #DADADA;
	background-color: #262626;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px 5px 0 0;
	z-index:5;
}

ul#menu li a.select{
	background-color: #fff;
	color: #000;
	border-bottom:1px solid #fff;
}

/******* contenu ********/

#content {
	width:978px;
	margin:0 auto;
	border: 1px solid #DADADA;
	padding:20px 10px;
	background-color:#fff;
	border-radius: 0 5px 5px 5px;
}

/******* Customer *********/

.ajouter-client {
	margin-bottom: 20px;
}

table#lister-client {
	border-collapse: collapse;
	width: 100%;
}

table#lister-client th{ 
	text-align:left;
	padding-left: 5px;
}

table#lister-client th.id{ width: 40px; }
table#lister-client th.societe{ width: 100px; }
table#lister-client th.nom{ width: 100px; }
table#lister-client th.prenom{ width: 100px; }
table#lister-client th.adresse{ width: 100px; }
table#lister-client th.cp{ width: 100px; }
table#lister-client th.ville{ width: 100px; }
table#lister-client th.modifier{ width: 80px; }
table#lister-client th.supprimer{ width: 30px; }


table#lister-client tr td {
	border: 1px solid #DADADA;
	vertical-align: middle;
	padding: 5px;
}

table#lister-client td.id{ text-align:center; }
table#lister-client td.modifier{ text-align:center; }
table#lister-client td.supprimer{ text-align:center; }

table#lister-client td button {
	border: 1px solid #DADADA;
	padding: 5px 10px;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-color: #f0f0f0;
	border-radius: 3px;
}

/******* Devis **********/

table.contenu-devis {
	border-collapse: collapse;
	width: 700px;
	margin: 20px 10px;
}

table.contenu-devis tr .quantite { width:15%;}
table.contenu-devis tr .description { width:55%;}
table.contenu-devis tr .pu { width:15%;}
table.contenu-devis tr .montant { width:15%;}

table.contenu-devis tr th {
	text-align:left;
	font-size: 12px;
	padding-left: 5px;
}

table.contenu-devis tr td {
	border: 1px solid #DADADA;
	vertical-align: top;
	padding: 5px;
}

table.contenu-devis tr td input[type=text] {
	width: 100%;
	border: 0;
	padding: 3px 0;
	text-align:center;
}

table.contenu-devis tr td textarea {
	width: 340px;
	height:20px;
	border: 0;
	padding: 3px 0;
	font-size:12px;
}

table.contenu-devis tbody tr td:hover,
table.contenu-devis tbody tr td input[type=text]:hover,
table.contenu-devis tbody tr td textarea:hover {
	cursor:text;
}


table#lister-devis {
	border-collapse: collapse;
	width: 100%;
}

table#lister-devis th{ 
	text-align:left;
	padding-left: 5px;
}

table#lister-devis th.id{ width:40px; }
table#lister-devis th.date{ width:80px; }
table#lister-devis th.client{ width:600px; }
table#lister-devis th.imprimer{ width:80px; }
table#lister-devis th.facturer{ width:80px; }
table#lister-devis th.modifier{ width:80px; }
table#lister-devis th.supprimer{ width:30px; }

table#lister-devis tr td {
	border: 1px solid #DADADA;
	vertical-align: middle;
	padding: 5px;
}

table#lister-devis td.id,
table#lister-devis td.date,
table#lister-devis th.imprimer,
table#lister-devis th.facturer
table#lister-devis td.modifier,
table#lister-devis td.supprimer{ 
	text-align:center; 
}

table#lister-devis td button {
	border: 1px solid #DADADA;
	padding: 5px 10px;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-color: #f0f0f0;
	border-radius: 3px;
}

/****** Page *******/

#page {
	margin-top: 10px;
}

#page .page_prec {
	float: left;
}

#page .page_suiv {
	float: right;
}

#page ._page {
	margin: 0 50px;
	text-align: center;
}

#page ._page button {
	margin: 0 3px;
}

#page button {
	border: 1px solid #DADADA;
	padding: 5px 10px;
	color: #000;
	text-align: center;
	background-color: #f0f0f0;
	border-radius: 3px;
}

/****** Fenetre ********/

.fenetre {
	position: fixed;
	top: 200px;
	left: 400px;
	width: 400px;
	height: 250px;
	padding: 20px;
	background: #fff;
	border: 20px solid #DADADA;
	border-radius: 10px;
	box-shadow: 0 0 30px #000;
	z-index: 99;
}


.fenetre .close{
	position: absolute;
	font-weight: bold;
	line-height: 30px;
	color: #fff;
	padding: 0 10px;
	top: 20px;
	right: 20px;
	font-size: 20px;
	background: #000;
	border: 1px solid #DADADA;
	border-radius: 3px;
}

.fenetre p {
	font-weight:bold;
}

/****** Form *********/

.form {
	display:inline-block;
	vertical-align: top;
	margin:0 10px;
}

.form label {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}

.form input[type=text],
.form input[type=password] {
	line-height: 30px;
	border: 1px solid #DADADA;
	padding: 0 5px;
	width: 140px;
	border-radius: 5px;
}

.form button[type=submit] {
	line-height: 30px;
	border: 1px solid #DADADA;
	background-color:#f0f0f0;
	padding: 0 5px;
	width: 140px;
	font-weight:bold;
	border-radius: 5px;
}

.form select {
	height: 30px;
	width: 100%;
	border: 1px solid #DADADA;
	padding: 0 5px;
	border-radius: 5px;
}

.form textarea {
	border: 1px solid #DADADA;
	border-radius: 5px;
}

.form textarea.adresse{
	width: 315px;
	height: 100px;
	padding: 5px;
}

.form table.rechercher-client{
	position: absolute;
	border-collapse: collapse;
	width: 500px;
	background-color: #fff;
	z-index: 9;
}

.form table.rechercher-client tr th{
	border: 1px solid #262626;
	text-align: left;
	padding-left: 5px;
	height: 20px;
}

.form table.rechercher-client tr td{
	height: 30px;
	border: 1px solid #262626;
	padding-left: 5px;
}

.form table.rechercher-client tr .societe{ width:210px; }
.form table.rechercher-client tr .nom{ width:210px; }

.form table.rechercher-client tr td.ajouter button{ 
	border: 1px solid #DADADA;
	padding: 5px 10px;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-color: #f0f0f0;
	border-radius: 3px;
 }
 
 .form div.rechercher-client{
	position: absolute;
	width: 480px;
	background-color: #fff;
	z-index: 9;
	padding:5px 10px;
}
 